.section-title {
	color: #101010;
	font-size: 24px;
	border-bottom: 1px solid #707070;
	margin-bottom: 30px;
}

.room-type-section {
	padding: 90px 120px;
	padding-bottom: 0px;

	.card-wrapper {
		display: grid;
		grid-column-gap: 80px;
		grid-row-gap: 60px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		justify-content: center;

		> div {
			justify-self: center;
			align-self: center;
		}
	}
}

.traffic-section {
	padding: 90px 120px;

	iframe {
		width: 100%;
		height: calc((100vw - 240px) * 0.426);
	}
}

@media (max-width: 991px) {
	.room-type-section {
		padding: 90px 30px;
		.card-wrapper {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: 30px;
			grid-row-gap: 30px;

			> div {
				width: 90%;
			}
		}
	}

	.traffic-section {
		padding: 30px;
		iframe {
			width: 100%;
			height: calc((100vw - 60px) * 0.6);
		}
	}
}

@media (max-width: 767px) {
	.section-title {
		font-size: 20px;
	}

	.room-type-section {
		padding: 30px;
		.card-wrapper {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(6, 1fr);
		}
	}

	.traffic-section {
		padding: 30px;
		iframe {
			width: 100%;
			height: calc((100vw - 60px) * 0.6);
		}
	}
}
