.room-container {
	position: relative;

	.logo {
		position: absolute;
		display: inline-block;
		top: 0;
		left: 30px;
		cursor: pointer;
		background: #fadd02;
		font-size: 20px;
		color: #fff;
		padding: 8px 15px;
		z-index: 50;
	}

	.small-screen-booking-btn-wrapper {
		display: none;
		width: 100%;
		padding: 15px 30px;
		background: #fff;
		color: #000;
		cursor: pointer;
		position: sticky;
		bottom: -1px;
		z-index: 30;
		border-top: 1px solid rgb(221, 221, 221);
		font-size: 16px;

		button {
			border-radius: 8px;
			outline: none;
			padding: 8px 15px;
			transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
				-webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
			border: none;
			background: linear-gradient(
				to right,
				rgb(230, 30, 77) 0%,
				rgb(227, 28, 95) 50%,
				rgb(215, 4, 102) 100%
			);
			color: rgb(255, 255, 255);

			&:active {
				transform: scale(0.96);
				border: none;
				background: rgb(255, 56, 92);
				color: rgb(255, 255, 255);
			}

			span {
				margin-left: 8px;
				font-size: 16px;
			}
		}
	}
}

.image-gallery {
	position: relative;
	overflow: hidden;
	display: grid;
	max-height: 60vh;
	grid-template-columns: 30% 30% 40%;
	grid-template-rows: 50% 50%;
	grid-row-gap: 8px;
	grid-column-gap: 8px;
	grid-template-areas:
		'a a b'
		'a a c';

	.second-area-1 {
		grid-area: a;
	}
	.second-area-2 {
		grid-area: b;
	}
	.second-area-3 {
		grid-area: c;
	}

	.second-area-1,
	.second-area-2,
	.second-area-3 {
		position: relative;
		overflow: hidden;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: transparent;
			z-index: 5;
			transition: opacity 300ms ease-in-out;
			opacity: 0;
		}
		&:hover::after {
			background: rgba(0, 0, 0, 0.05);
			opacity: 1;
		}
	}

	.img-wrapper {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.show-image-gallery-btn {
		position: absolute;
		right: 30px;
		bottom: 15px;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 4px;
		color: #fff;
		z-index: 10;
		padding: 8px 15px;
		cursor: pointer;
		font-size: 14px;

		i {
			margin-right: 8px;
		}
	}
}

.mobile-slider-btn {
	display: none;
}

.room-info-wrapper {
	padding: 30px 120px;
	display: flex;
	align-items: flex-start;

	.reserve {
		flex: auto;
	}

	.room-info {
		flex-basis: 72%;
		padding-right: 10%;
		color: #101010;

		h1 {
			font-size: 32px;
			font-weight: normal;
			margin-bottom: 60px;

			> div:nth-child(2) {
				font-size: 14px;
				color: #707070;
			}
		}
	}

	.detail-title {
		margin-bottom: 30px;
		border-bottom: 1px solid #d0d0d0;
	}
	.detail-description {
		margin-bottom: 30px;
		p {
			color: #707070;
			font-size: 14px;
			font-weight: normal;
			padding: 4px 0;
		}
	}
	.check-in-info {
		margin-bottom: 30px;
		> div:not(:nth-child(1)) {
			color: #707070;
			font-size: 14px;
			padding-top: 4px;

			span:nth-child(1) {
				display: inline-block;
				width: 70px;
				margin-right: 15px;
			}
		}
	}
	.service-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		padding: 15px 30px;
		margin-top: 4px;
		font-size: 14px;
		background: #efefef;

		> div {
			width: 50%;
			margin-bottom: 15px;
			span:nth-child(1) {
				display: inline-block;
				width: 30px;
				text-align: center;
				margin-right: 8px;
			}

			&.not-provided {
				color: #7d7c7c;
			}
		}

		.more-service-btn {
			cursor: pointer;
			color: #fadd02;
			padding: 0 8px;
			border: 1px solid #fadd02;
		}
	}
}

.summary-wrapper {
	display: none;
	padding: 0 30px;

	.summary {
		padding-bottom: 15px;

		> div:nth-child(2) {
			font-size: 14px;
			color: rgb(113, 113, 113);
		}
	}

	.reserve-info {
		margin-bottom: 15px;
	}

	.weekday,
	.weekend,
	.total {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #707070;
		font-size: 14px;
		padding: 4px 0;
	}

	.total {
		border-top: 1px solid #efefef;
		> span:nth-child(2) {
			color: #fadd02;
			font-size: 20px;
		}
	}

	.summary-button-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 15px 0;

		button {
			cursor: pointer;
			outline: none;
			transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
				-webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
			border: none;

			&.show {
				padding: 8px 15px;
				border-radius: 4px;
				background: linear-gradient(
					to right,
					rgb(230, 30, 77) 0%,
					rgb(227, 28, 95) 50%,
					rgb(215, 4, 102) 100%
				);
				color: rgb(255, 255, 255);

				&:active {
					transform: scale(0.96);
					border: none;
					background: rgb(255, 56, 92);
					color: rgb(255, 255, 255);
				}
			}
			&.clear {
				background: transparent;
				color: rgb(34, 34, 34);
				text-decoration: underline;
				&:active {
					transform: scale(0.96);
					border: none;
				}
			}
		}
	}
}

//
//
//
@media (max-width: 991px) {
	.room-info-wrapper {
		padding: 30px;
	}
}

@media (max-width: 767px) {
	.room-container {
		.logo {
			font-size: 16px;
		}
	}

	.image-gallery {
		display: block;
		position: relative;
		width: 100%;
		height: 90vw;

		&:hover {
			.mobile-slider-btn {
				opacity: 1;
			}
		}

		.img-wrapper {
			position: absolute;
			width: 100%;
			height: 100%;
			cursor: default;
			opacity: 1;

			&::after {
				display: none;
				width: 0;
				height: 0;
			}

			&.hidden {
				opacity: 0;
			}
		}

		.mobile-slider-btn {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			width: 80px;
			height: 99.5%;
			top: 0;
			z-index: 71;
			cursor: pointer;
			color: #fff;
			font-size: 24px;
			opacity: 0;
			transition: opacity 300ms ease-in-out;
			@media (max-width: 767px) {
				& {
					opacity: 1;
				}
			}

			&.left {
				left: 0;
				background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), transparent);
				i {
					margin-left: -15px;
				}
				@media (max-width: 767px) {
					& {
						background: transparent;
						text-shadow: 0 0px 5px #707070;
					}
				}
			}
			&.right {
				right: 0;
				background: linear-gradient(-90deg, rgba(0, 0, 0, 0.1), transparent);
				i {
					margin-left: 15px;
				}
				@media (max-width: 767px) {
					& {
						background: transparent;
						text-shadow: 0 0px 5px #707070;
					}
				}
			}
		}
	}

	.show-image-gallery-btn {
		display: none;
	}

	.room-container {
		.small-screen-booking-btn-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.room-info-wrapper {
		display: block;

		.reserve {
			display: none;
		}

		.room-info {
			padding-right: 0;
		}

		.room-info {
			h1 {
				text-align: center;
				font-size: 28px;
			}
		}

		.service-wrapper {
			padding: 8px;
		}
	}

	.summary-wrapper {
		display: block;
	}
}
